*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


main{
    margin-top: 135px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 125px;
    background: white;
    padding: 10px;
    z-index: 1;
}
section{
    padding: 1rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 20rem;
    margin-right: 20rem;

}
.bottom{
    display: inline;
    margin-bottom: 1rem;
}

.middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec a, .bottom a{
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-family: Open Sans;
    font-size: 14px;
}
.sec a:hover, .bottom a:hover{
    border-bottom:5px solid blue;
}
.two a:hover{
    border: none;
    color: rgb(68, 68, 224);
}

.logo{
    width: 200px;
    display: flex;
    height: 50px;
    padding-bottom: 5px;
}
.logo img{
    width: 100%;
    margin-left: -1rem;
    padding: 5px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.hero{
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background: linear-gradient(rgb(14, 113, 206),rgb(14, 113, 206),rgb(14, 113, 206));

}
.hero-sections{
display: flex;
justify-content: space-evenly;
}
.two-divs{
    display: flex;
    margin-left: 20rem;
}
.hero-sections{
    padding: 2rem;
    display: block;
    justify-content: center;
    align-content: center;
}
.hero-sections h4{
    color: white;
    font-size: 24px;
    font-family: open sans;
    font-weight: 400;
}
.hero-sections h1{
    color: white;
    font-size: 6em;
    font-family: roboto;
}
.hero-sections h2{
    font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
    font-size: 36px;
    padding: 0 0 16px;
}
.hero-sections p{
    color: white;
    padding: 0 0 16px;
}
.hero-sections button{
    width: 157px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    font-family: open sans, Arial, Helvetica, sans-serif;
    background-color: green ;
    color: white;
    cursor: pointer;
}
.form{
    display: block;
    margin: auto;
    width: 360px;
    height: 330px;
    background-color: #ffffff;
    margin-right: 20rem;
    border-radius: 5px;
    padding: 1rem;
}
label{
    display: block;
}
input[type="checkbox"]{
    transform: scale(1.3);
}
input:nth-of-type(2){
    display: block;
}
input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid grey;
    width: 90%;
    padding: 0.5rem;
    outline: none;
    font-size: 17px;
    margin-bottom: 1rem;
}

.span-space{
    margin-left: 2px;
    margin-right: 6rem;
    opacity: 0.6;    
    font-size: 14px;
}
.signIn{
    width: 100%;
    height: 35px;
    margin: 0.7rem 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(28, 103, 243);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.twoo a{
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: rgb(0, 89, 255);
}
.Token{
    text-decoration: none;
    color: rgb(24, 114, 231);
    font-size: 14px;
}
.form h2{
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 0;
}


.products{
    display: flex;
    margin-left: 20rem;
    margin-right: 200rem;

}





#products h1{
    text-align: center;
    font-family: open sans;
    padding: 1rem;
    font-size: 35px;
    font-weight: 500;
}
.image{
    width: 50px;
    height: 50px;
    margin: auto;
    object-fit: cover;
}
.image img{
    width: 100%;
    height: 100%;
}
.small-cards a{
    font-family: open sans;
    text-decoration: none;
    text-align: center;
    color: black;
}
.small-cards{
    padding: 1rem;
    width: 300px;
    margin-right: 2rem;
}

.large-cards{
    display: flex;
    gap: 2rem;
    margin: 0 20rem;
}
.even_box{
    background-color: rgb(29, 102, 236);
    display: flex;
}
.one{
    width: 270px;
    padding: 1rem;
    color: #ffffff;
}
.big-cards h2{
    font-weight: 400;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.big-cards{
    width: 370px;
    height: 400px;
    border: 1px solid #d0d1d3;
}
.two{
    padding: 0.5rem;
}
.even_box img{
    width: 100%;
    height: 70px;
}
.one-box h2{
    font-family: roboto;
    
}
.one-box h3{
    padding-bottom: 0.5rem;
}
.one-box{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5rem;
}

.big-cards button{
    height: 40px;
    width: 170px;
    margin-left: 1rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(29, 127, 240);
    color: #ffffff;
    font-size: 16px;
}
.bus{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0

}
.tex-div{
    align-content: center;
}
.tex-div h2{
    padding: 0 0 16px;
    font-family: open sans;
    font-size: 26px;
}
.tex-div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.8;
}
.tex-div button{
    width: 150px;
    height: 30px;
    margin-top: 1rem;
    background-color: green;
    border: none;
    color: #ffffff;
    font-size: 17px;

}
#auto,#consult{
    border-top: 1px solid #d0d1d3;
    border-bottom: 1px solid #d0d1d3;
    margin-left: 20rem;
    margin-right: 20rem;
}
.image-div{
    width: 500px;
    height: 300px;
}
.image-div img{
    width: 100%;
    height: 100%;
}
.round{
    border-radius: 5px;
}

footer{
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer i{
    color: black;
    font-size: 24px;
}
select{
    border: none;
    outline: none;
    margin-right: 0.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.mobile-menu{
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    padding: 1rem;
    background-color: #EDEDED;
    width: 85%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: auto;
}
.diviver{
    border-bottom: 1px solid #d0d1d3;
    padding: 0.5rem;
}

.items{
    padding: 1rem 0;
}
.items h3{
    font-weight: bold;
    font-size: 17px;
    color: black;
    font-family: open sans;
    padding: 1rem 0;
}
.lng a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.lng{

    padding-top: 1.5rem ;

}

.items a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: open sans;
    margin: 1rem 0 0 0;
}
.items a:active{
    border: 1px dashed black;
}
.serchbar{
    height: 35px;
    position: relative;
}
.serchbar input{
    margin: 1rem 0 0 0;
    width: 90%;
    height: 100%;
    outline: none;
    font-size: 17px;
    font-family: sans-serif;
    border: 0.5px solid black;
    padding: 0 0 0 2rem;

}
.sub-logo{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
}
.sub-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.serchbar i{
    position: absolute;
    top: 70%;
    left: 10px;
}

.mm-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 60%;
    top: 25%;
}

.menu-bar-div{
    width: 25px;
    height: 20px;
    display: none;
}
.menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    height: 2px;
    width: 100%;
    background-color: black;
}

.signIN button{
    width: 70px;
    height: 40px;
    border: none;
    background-color: rgb(61, 93, 240);
    color: white;
    font-family: open sans;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
}


.small-bars{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    border: 5px;
}
.b1{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);

}
.b2{
    top: 50%;
    left: 0;
    display: none;
}
.b3{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}


@media(max-width: 767px){
    header{
        height: 60px;
        padding: 5px;
        width: 100vw;
        align-content: center;
    }
    .hero{
        flex-direction: column;
        margin: 0;
    }
    .form{
        display: none;

    }
    .two-divs{
        margin: 0;
        flex-direction: column;
    }
    .hero-sections h1{
        font-size: 35px;
    }
    .hero-sections h2{
        font-size: 24px;
    }
    .hero-sections h4{
        font-size: 20px;
    }    
    .products{
        display: grid;
        grid-template-columns: repeat(2,150px);
        margin: 0;
        justify-content: center;
    }
    .products{
        border-bottom: 1px solid #d0d1d3;
    }
    #products h1{
        font-size: 20px;
    }
    .small-cards{
        margin: 0;
    }
    .image{
        margin: 0;
    }
    .large-cards{
        flex-direction: column;
        margin: 0;
    }
    #auto,#consult{
        margin: 1rem 0;
    }
    .tex-div h2{
        font-size: 20px;
    }
    .nav{
        margin: 1rem 0;
        height: 30px;
        padding: 1px;

    }
    .image-div{
        height:200px ;
        margin-top: 5rem;

    }
    .image-div img{
        width: 100%;
        height: 100%;
    }
    .hundred{
        object-fit: fill;
        height: 130px;
        }
    .tex-div{
        padding: 0 0.5rem;
    }
    .bottom{
        display: none;
    }
    .top{
        display: none;
    }
    main{
        margin-top: 30px;
    }
    
    footer{
        margin: 0;
        background-color: black;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    footer i{
        color: white;
    }
    .show{
        display: block;
    }
    
    .big-cards{
        margin: auto;
        width: 350px;
        border-radius: 4px;
    }
    .menu-bar-div{
        display: block;
    }
    .signIN button{
        display: block;
    }
}

/*tablets*/
@media (min-width: 768px) and (max-width: 1024px) {

    .two-divs {
        margin: 1rem 0;
    }

    .hero-sections h1 {
        font-size: 45px;
    }

    .hero-sections h2 {
        font-size: 30px;
    }

    .hero-sections h4 {
        font-size: 24px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(3, 200px); /* more columns on tablet */
        margin: 1rem auto;
        justify-content: center;
        border-bottom: 1px solid #d0d1d3;
    }

    #products h1 {
        font-size: 24px;
    }

    .small-cards {
        margin: 0.5rem;
    }

    .image {
        margin: 0.5rem;
    }

    .large-cards {
        margin: 1rem 0;
        gap: 1rem;
    }
    .big-cards{
        width: 200;
    }
    .form{
        margin:1rem 0 0 0;
        
    }

    #auto,#consult {
        margin: 1rem;
    }

    .tex-div h2 {
        font-size: 24px;
    }

    .nav {
        margin: 0;
    }

    .image-div {
        height: 250px;  /* taller on tablet */
    }

    .tex-div {
        padding: 0 1rem;
    }
    header{
        width: 100vw;
    }


    main {
        margin-top: 100px;
        width: 100vw;
    }

    footer {
        margin: 0;
        font-size: 14px;
        width: 100vw;
    }

    .big-cards {
        width: 450px;
        margin: auto;
        border-radius: 6px;
    }



}
